<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Robolectric</title>
    <%= google_analytics_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
</head>

<body>
    <div id="page" class="container">
        <div class="row">
            <div id="sidebar" class="col-md-3">
                <%= partial "partials/toc" %>
            </div>
            <div id="content" class="col-md-9">
                <%= yield %>
            </div>
        </div>
    </div>
</body>
</html>