<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Robolectric</title>
    <%= google_analytics_tag %>
    <%= favicon_tag 'images/favicon.png' %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar">
            <%= partial "partials/sidebar" %>
            <%= partial "partials/resources" %>
        </div>

        <div id="content">
            <%= yield %>
        </div>
    </div>
</body>
</html>