<%= link_to image_tag('robolectric.png', class: 'logo'), '/' %>

<ul class="nav nav-stacked">
    <li class="nav-header"><%= link_to 'Getting Started', '/getting_started.html' %></li>
    <li class="nav-item"><%= link_to 'Eclipse', '/eclipse-quick-start.html' %></li>
    <li class="nav-item"><%= link_to 'Download Jars', '/download.html' %></li>
</ul>

<ul class="nav nav-stacked">
    <li class="nav-header"><%= link_to 'User Guide', '/user-guide.html' %>
    <li class="nav-item"><%= link_to 'Driving the Activity Lifecycle', '/activity-lifecycle.html' %></li>
    <li class="nav-item"><%= link_to 'Working with ApkLibs', '/apklibs.html' %></li>
    <li class="nav-item"><%= link_to 'Creating and using Custom Shadows', '/custom-shadows.html' %></li>
    <li class="nav-item"><%= link_to 'Using qualified resources', '/resource-qualifiers.html' %></li>
</ul>

<ul class="nav nav-stacked">
    <li class="nav-header"><%= link_to 'Extending', '/extending.html' %></li>
    <li class="nav-item"><%= link_to 'Test Runner', '/customizing.html' %></li>
    <li class="nav-item"><%= link_to 'RoboGuice (Part 1)', '/roboguice.html' %></li>
    <li class="nav-item"><%= link_to 'RoboGuice (Part 2)', '/roboguice2.html' %></li>
</ul>

<ul class="nav nav-stacked">
    <li class="nav-header"><%= link_to 'Contributing', '/contributor-guidelines.html' %></li>
    <li class="nav-item"><%= link_to 'Real Android Jars', '/android-jars.html' %></li>
</ul>

<ul class="nav nav-stacked">
    <li class="nav-header"><%= link_to 'Resources', '/resources.html' %></li>
    <li class="nav-item"><%= link_to 'JavaDoc', '/javadoc/index.html?overview-summary.html' %></li>
    <li class="nav-item"><%= link_to 'Release Notes', '/release-notes.html' %></li>

    <li class="nav-item"><%= link_to 'Blog', 'http://robolectric.blogspot.com' %></li>
    <li class="nav-item"><%= link_to 'Google Group', 'http://groups.google.com/group/robolectric' %></li>
</ul>
