<%= link_to image_tag('robolectric.png', class: 'logo'), '/' %>

<ul class="nav nav-stacked">
    <li class="nav-header"><%= link_to 'Getting Started', '/getting-started' %></li>
    <li class="nav-item"><%= link_to 'Eclipse', '/eclipse-quick-start' %></li>
    <li class="nav-item"><%= link_to 'Download Jars', '/download' %></li>
</ul>

<ul class="nav nav-stacked">
    <li class="nav-header"><%= link_to 'User Guide', '/user-guide' %>
    <li class="nav-item"><%= link_to 'Starting Other Components', '/starting-components' %></li>
    <li class="nav-item"><%= link_to 'Driving the Activity Lifecycle', '/activity-lifecycle' %></li>
    <li class="nav-item"><%= link_to 'Working with ApkLibs', '/apklibs' %></li>
    <li class="nav-item"><%= link_to 'Creating and using Custom Shadows', '/custom-shadows' %></li>
    <li class="nav-item"><%= link_to 'Using qualified resources', '/resource-qualifiers' %></li>
</ul>

<ul class="nav nav-stacked">
    <li class="nav-header"><%= link_to 'Extending', '/extending.html' %></li>
    <li class="nav-item"><%= link_to 'Custom Test Runner', '/custom-test-runner' %></li>
    <li class="nav-item"><%= link_to 'RoboGuice (Part 1)', '/roboguice' %></li>
    <li class="nav-item"><%= link_to 'RoboGuice (Part 2)', '/roboguice2' %></li>
</ul>

<ul class="nav nav-stacked">
    <li class="nav-header"><%= link_to 'Contributing', '/contributor-guidelines' %></li>
    <li class="nav-item"><%= link_to 'Real Android Jars', '/android-jars' %></li>
</ul>

<ul class="nav nav-stacked">
    <li class="nav-header"><%= link_to 'Resources', '/resources' %></li>
    <li class="nav-item"><%= link_to 'JavaDoc', '/javadoc/index.html?overview-summary.html' %></li>
    <li class="nav-item"><%= link_to 'Release Notes', '/release-notes' %></li>

    <li class="nav-item"><%= link_to 'Blog', 'http://robolectric.blogspot.com' %></li>
    <li class="nav-item"><%= link_to 'Google Group', 'http://groups.google.com/group/robolectric' %></li>
</ul>
